
<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" [ngClass]="issidedark?'sidedark':''"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo" [ngClass]="issidedark?'sidedark':''">
      <a target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Angular App</h1>
      </a>
    </div>
    <ul nz-menu [nzTheme]="islight?'light':'dark'" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Content" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a >Angular Life's Cycle hooks</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a >Router Module</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Firebase</a>
          </li>
        
          <li nz-menu-item nzMatchRouter>
            <a>Authentication</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Internationalization</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Pipe</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Directives</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Chart Integration</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Binding Module</a>
          </li>
         
        </ul>
      </li>
     
    </ul>
  </nz-sider>
  <nz-layout class="pinkbg"  [ngClass]="isbgdark?'bgdark':''" >
    <nz-header>
      <div class="app-header" [ngClass]="isdark?'dark':''">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
        <mat-slide-toggle (click)="dark()">
          <i class="fas fa-sun" [ngClass]="isicon?'':'hide'"></i>
          <i class="fas fa-moon" style="font-size: 20px;" [ngClass]="isicon?'hide':''"></i>
        </mat-slide-toggle>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content"[ngClass]="iscondark?'condark':''"  >
        <router-outlet ></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
