
    <div class="nav">
        <div>
            <a style="color:rgb(0, 174, 255)" (click)="userlist()">FRIENDS</a>
            <a style="color:rgb(0, 174, 255)" (click)="langu()">LANGUAGE</a>
            <a style="color:rgb(0, 174, 255)" (click)="stock()">STOCK</a>
            <a style="color:rgb(0, 174, 255)" (click)="vis()">VISUALIZATION</a>
        </div>
       
        <div>
            <a routerLink="/Login">LOGOUT</a>
        </div>
    </div>

    <div class="conte">
        <router-outlet></router-outlet>
    </div>

    



